.desccription-product {
  color: #fff;
  font-family: "Roboto";
}

.desccription-product > .title {
  font-size: 25px;
  margin-bottom: 100px;
}

.desccription-product > .item {
  font-size: 20px;
  margin-bottom: 28px;
}

.desccription-product > .item.-info {
  width: 200px;
  text-align: right;
}

.desccription-product > .item.-last {
  margin-bottom: 72px;
}

.desccription-product .contrast {
  text-transform: uppercase;
  float: left;
}

.desccription-product > .text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.desccription-product .action {
  color: inherit;
  text-decoration: none;
}

/*
.reputation {
  font-size: 20px;
  padding-top: 96px;
}

.freight {
  margin-top: 96px;
  font-size: 20px;
}

.price {
  padding-top: 23px;
  font-size: 20px;
}

.summary {
  padding-top: 76px;
  font-size: 18px;
  line-height: 32px;
}

.more {
  padding-top: 30px;
  font-size: 20px;
}
*/
